<% include ./partials/header %>

                
                    <div id="landing">
                            
                        <a href="/comic" id="buttonNew" class = "btn btn-warning" role="button">Find Your Comics Now!!</a>
                   </div>
                
                
               
<% include ./partials/footer %>